<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Datamap Explained</title>

    <link rel="stylesheet" href="../static/css/master.css">

</head>
<body class="explain">
<h3>The Datamap</h3>

<p>I was very impressed with the idea of using a choropleth map and wanted someway to help use it in my data. I then
    realized that how I formed my false sales data would not work as well for using the map to its fullest. I then went
    with markers in order to still show my data in some sort of visual format. I wanted to at least get some practice
    because I really want to use more like it in the future for data visualization. I started practicing with markers
    and layers first to utilize some of the features at least knowing that I still have many areas I will have to work
    on.</p>
<p>Definitely the next area of interest will be working with JSON files and dynamically loading values into their areas.</p>
</body>
</html>