<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patient Search</title>

    <!-- Bootstrap Code -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=PT+Serif|Titillium+Web:400,700" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/master.css">

</head>
<body class="explain patient-window" style="overflow-x: hidden">
<!-- Could not get overflow-x to work in CSS sheet. Changed to inline. -->

<div class="row p-1">
    <div class="col-sm-6">
        <h2>Patient Search</h2>
    </div>

    <div class="col-sm-6">
        <form class="input-forms ml-0 mr-0" method="POST" action="{{ url_for('patient_search') }}">
            <div>
                <input class="btn btn-secondary patient-search" type="submit" value="Search"/>
            </div>
            <div>
                <label class="form-name" for="patient-name">Name: </label>
                <input class="patient" type="text" name="patient-name" value="{{ patient if patient else "" }}"
                       id="patient-name"/><br>
                <label for="avg-top">Average Dollar Top: </label>
                <input class="form-number patient" type="number" name="avg-top"
                       value="{{ avg_top / 100 if avg_top else 5000 }}" id="avg-top"/><br>
                <label class="label-avg-bot" for="avg-bot">Average Dollar Bot: </label>
                <input class="form-number patient" type="number" name="avg-bot"
                       value="{{ avg_bot / 100 if avg_bot else 0 }}" id="avg-bot"/><br>
            </div>
        </form>
    </div>
    <div class="ml-3">
        <h5>Select a patient to view their history.</h5>
    </div>
</div>

<table class="table table-hover table-sm">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Avg Dollar</th>
        <th scope="col">Last Purchase</th>
    </tr>
    </thead>
    <tbody>
    {% if patients_count > 0 %}
        {% for p in patients %}
            <tr>
                <!-- Only inline style seems to work on color change. -->
                <th><a class="patient-link" style="color: #444444"
                       href="{{ url_for('patient_history', patient=p.patient_name) }}">{{ p.patient_name }}</a></th>
                <td>{{ p.address }}</td>
                <td>{{ p.avg_dollar / 100 if p.avg_dollar else 0 }}</td>
                <td>{{ p.last_purchase }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <th colspan="4">There are no patients matching that criteria.</th>

        </tr>
    {% endif %}
    </tbody>
</table>
<!-- Name, AVG Dollar Greater, AVG Dollar Less, -->
</body>
</html>